<% layout("./layouts/boilerplate.ejs")%>

<div class="alert alert-danger col-8 offset-2 mt-4" role="alert">
  <h5 class="alert-heading">ERROR: <%=err.status%></h5>
  <hr>
  <pre><%=err.message%></pre>
</div>