<% layout("./layouts/boilerplate.ejs") %>
<form
  action="/listings/new"
  method="POST"
  class="needs-validation"
  novalidate
  enctype="multipart/form-data"
>
  <div class="row">
    <div class="col-8 offset-md-2">
      <h3>Add a New Listing</h3>
      <div class="mb-3">
        <label for="title" class="form-label mt-1">Title:- </label>
        <input
          type="text"
          id="title"
          class="form-control"
          name="listing[title]"
          placeholder="Enter the name of listing"
          required
        />
        <div class="invalid-feedback">Please provide a Title .</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description:- </label>
        <input
          type="text"
          name="listing[description]"
          id="description"
          placeholder="Enter some detail of listing"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Write some description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image:- </label>
        <input
          type="file"
          name="listing[image][url]"
          id="image"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <div class="row">
          <div class="col-4">
            <label for="price" class="form-label">Price:- </label>
            <input
              type="number"
              id="price"
              class="form-control"
              name="listing[price]"
              placeholder="Set a Price"
              required
            />
            <div class="invalid-feedback">Please Enter a valid price</div>
          </div>

          <div class="col-8">
            <label for="country">Country:- </label>
            <input
              type="text"
              id="country"
              name="listing[country]"
              class="form-control"
              placeholder="Enter the country"
              required
            />
            <div class="invalid-feedback">Please provide a valid country.</div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location:- </label>
        <input
          type="text"
          id="location"
          name="listing[location]"
          class="form-control"
          placeholder="Enter the location"
          required
        />
        <div class="invalid-feedback">Please provide a valid city.</div>
      </div>
      <button class="btn btn-add btn-dark">Add Listing</button>
    </div>
  </div>
</form>
