<%-layout("./layouts/boilerplate.ejs")%>
<h3 class="col-6 offset-3 mt-3 mb-3">Login</h3>
<div class="row">
  <div class="col-6 offset-3">
    <form action="/login" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label mt-1">Username </label>
        <input
          type="text"
          id="username"
          class="form-control mb-3"
          name="username"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label mt-1">Password </label>
        <input
          type="password"
          id="password"
          class="form-control mb-3"
          name="password"
          required
        />
      </div>
      <div id="login-method">
        <button class="btn btn-outline-success">Log in</button>
        <a href="/password_reset" class="forget-pass">Forget Password</a>
      </div>
    </form>
    <p class="text-center mt-4 fw-light">
      not regestered yet -<a href="/signup" class="text-decoration-none"
        >Sign Up</a
      >
    </p>
  </div>
</div>
<script></script>
