<%-layout("./layouts/boilerplate.ejs")%>
<div class="container col-6 offset-3">
  <h2>Reset Your Password</h2>
  <form
    action="/password_reset/<%=email%>/<%=time%>?_method=PATCH"
    class="needs-validation"
    novalidate
    method="POST"
  >
    <div class="mb-3">
      <label for="new-password" class="form-label mt-1">New Password </label>
      <input
        type="password"
        id="new-password"
        class="form-control mb-3"
        name="newPswd"
        required
      />
    </div>
    <div class="mb-3">
      <label for="re-new-password" class="form-label mt-1"
        >Confirm Password
      </label>
      <input
        type="password"
        id="re-new-password"
        class="form-control mb-3"
        name="reNewPswd"
        required
      />
    </div>
    <button class="btn btn-success">Create New Password</button>
  </form>
</div>
