<%-layout("./layouts/boilerplate.ejs")%>
<div class="container col-6 offset-3">
  <br />
  <br />
  <h3 class="col-8 offset-4 mb-5">Reset your password</h3>
  <form
    action="/password_reset"
    method="POST"
    novalidate
    class="needs-validation"
  >
    <div class="mt-5">
      <label for="username" class="form-label mb-3"
        >Enter your username / email Id :-</label
      >
      <input
        type="text"
        id="username"
        class="form-control"
        name="username"
        required
      />
      <div class="invalid-feedback">Required field</div>
      <button class="btn btn-outline-success mt-5">
        <i>Send Reset Link</i>
      </button>
    </div>
  </form>
</div>
