<%-layout("./layouts/boilerplate.ejs")%>
<h3 class="col-6 offset-3 mt-3 mb-3">SignUp on Wanderlust</h3>
<div class="row">
  <div class="col-6 offset-3">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label mt-1">Username </label>
        <input
          type="text"
          id="username"
          class="form-control mb-3"
          name="username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label mt-1">Email </label>
        <input
          type="email"
          id="emial;"
          class="form-control"
          name="email"
          required
        />
        <div class="invalid-feedback">sholud be in proper format</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label mt-1">Password </label>
        <input
          type="password"
          id="password"
          class="form-control mb-3"
          name="password"
          required
        />
      </div>
      <button class="btn btn-outline-success">Sign Up</button>
    </form>
    <p class="text-center mt-4 fw-light">
      Already a registered user -
      <a href="/login" class="text-decoration-none">Log In</a>
    </p>
  </div>
</div>
